<form class="flex gap-6 flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <div class="flex items-center justify-between">
            <p class="text-xs pb-1 text-[var(--text)]">USERNAME</p>

            <div class="text-xs text-red-500" *ngIf="form.get('userName')?.invalid && form.get('userName')?.touched">
                <small *ngIf="form.get('userName')?.errors?.['required']"> * Username is required </small>
            </div>
        </div>

        <input formControlName="userName" type="text" class="px-5 py-4 text-[var(--text)] bg-[var(--surface)] w-full rounded-xl outline-none placeholder:text-[var(--muted)]/60 focus:ring-2 focus:ring-[var(--primary)]/40" placeholder="curator_username" />
    </div>
    <div>
        <div class="flex items-center justify-between">
            <p class="text-xs pb-1 text-[var(--text)]">EMAIL ADDRESS</p>

            <div class="text-xs text-red-500" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                <small *ngIf="form.get('email')?.errors?.['required']"> * Email is required </small>
            </div>
        </div>

        <input formControlName="email" type="text" class="px-5 py-4 text-[var(--text)] bg-[var(--surface)] w-full rounded-xl outline-none placeholder:text-[var(--muted)]/60 focus:ring-2 focus:ring-[var(--primary)]/40" placeholder="curator@developer.com" />
    </div>
    <div>
        <div class="flex items-center justify-between">
            <p class="text-xs pb-1 text-[var(--text)]">PASSWORD</p>

            <div class="text-xs text-red-500" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                <small *ngIf="form.get('password')?.errors?.['required']"> * Password is required </small>
            </div>
        </div>

        <input formControlName="password" type="password" class="px-5 py-4 text-[var(--text)] bg-[var(--surface)] w-full rounded-xl outline-none placeholder:text-[var(--muted)]/60 focus:ring-2 focus:ring-[var(--primary)]/40" placeholder="••••••••" />
    </div>
    <button type="submit" class="bg-[var(--primary)] text-[var(--bg)] text-center w-full py-4 rounded-xl font-medium hover:opacity-90 transition">Sign Up</button>
</form>
