<div class="bg-[var(--bg)]/99">
    <div class="bg-[var(--bg)] px-4 sm:px-12 py-6 sm:py-8">
        <div class="header-1 flex justify-between items-center">
            <h1 class="text-lg sm:text-xl font-medium text-[var(--text)]">DevBlog</h1>

            <ul class="text-[var(--text)]/60 gap-4 text-sm cursor-pointer flex items-center">
                <li class="hover:text-[var(--text)] hidden sm:block transition">Guidelines</li>
                <li class="hover:text-[var(--text)] hidden sm:block transition">About</li>

                <li (click)="toggleTheme()" class="cursor-pointer hover:scale-110 transition">
                    <i class="fa-regular" [ngClass]="currentTheme === 'dark' ? 'fa-moon' : 'fa-sun'"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 p-4 sm:p-14 gap-6 sm:gap-0">
        <div class="Banner-1 hidden sm:block relative overflow-hidden p-16 bg-[var(--surface)]/80 rounded-bl-xl rounded-tl-xl">
            <div class="absolute bottom-0 left-0 w-40 h-40 bg-blue-400/5 blur-3xl"></div>

            <div class="relative flex flex-col justify-between h-full">
                <div class="flex flex-col gap-6">
                    <p class="text-[var(--primary)] text-[10px]">THE DIGITAL CURATOR</p>

                    <div>
                        <p class="font-medium text-7xl text-[var(--text)]">Where Code</p>
                        <p class="font-medium text-6xl text-[var(--text)]">becomes</p>
                        <p class="italic text-5xl text-[var(--muted)]">literature.</p>
                    </div>

                    <p class="text-[var(--muted)] text-sm line-clamp-3 min-h-5">
                        Join a curated community of developers <br />
                        sharing deep technical insights <br />
                        through beautiful prose.
                    </p>
                </div>
                <div class="pt-12">
                    <div class="flex items-center justify-center bg-[var(--muted)]/10 gap-2 p-6 rounded-2xl">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH87TKQrWcl19xly2VNs0CjBzy8eaKNM-ZpA&s" class="object-contain h-13 rounded-full" alt="Sarah Chen" />
                        <div>
                            <p class="italic text-sm text-[var(--text)] pb-1">"The best place for long-form technical discourse I've found in a decade"</p>
                            <p class="text-xs text-[var(--muted)]">-SARAH CHEN, PRINCIPAL ARCHITECT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Form-1 gap-6 sm:gap-8 bg-[var(--bg)] px-4 sm:px-10 lg:px-21 py-8 sm:py-16 flex flex-col sm:rounded-br-xl sm:rounded-tr-xl">
            <h1 class="text-xl sm:text-2xl font-medium text-[var(--text)]">
                <i *ngIf="formType === 'signup'" class="fa-solid fa-handshake mr-1"></i>
                {{ formType === 'login' ? 'Welcome Back' : 'Welcome' }}
            </h1>
            <div class="grid grid-cols-2 gap-3 sm:gap-4">
                <button class="bg-[var(--surface)] text-[var(--text)] py-3 rounded-xl text-xs hover:opacity-90 transition whitespace-nowrap"><i class="fab fa-github"></i> GITHUB</button>
                <button class="bg-[var(--surface)] text-[var(--text)] py-3 rounded-xl text-xs hover:opacity-90 transition whitespace-nowrap"><i class="fa-brands fa-google"></i> GOOGLE</button>
            </div>
            <div class="flex items-center gap-3">
                <div class="flex-1 h-[1px] bg-[var(--muted)]/30"></div>

                <p class="text-xs text-[var(--muted)] whitespace-nowrap">OR CONTINUE WITH EMAIL</p>

                <div class="flex-1 h-[1px] bg-[var(--muted)]/30"></div>
            </div>
            <app-login (submitForm)="loginSubmit.emit($event)" *ngIf="formType === 'login'"></app-login>

            <app-signup (submitForm)="signupSubmit.emit($event)" *ngIf="formType === 'signup'"></app-signup>
            <p class="text-center text-xs sm:text-sm">
                <span class="italic text-[var(--muted)]">
                    {{ formType === 'login' ? 'New here?' : 'Already Joined?' }}
                </span>

                <span class="text-[var(--primary)] cursor-pointer ml-1 hover:underline" (click)="switchView(formType === 'login' ? 'signup' : 'login')">
                    {{ formType === 'login' ? 'Join the Community' : 'Sign In' }}
                </span>
            </p>
        </div>
    </div>
    <app-footer></app-footer>
</div>
