<div class="bg-[var(--bg)]/80">
    <div class="bg-[var(--bg)] px-12 py-8">
        <div class="header-1 flex justify-between items-center">
            <h1 class="text-xl font-medium text-[var(--text)]">DevBlog</h1>
            <ul class="text-[var(--text)]/60 gap-4 text-sm cursor-pointer sm:flex hidden items-center justify-between">
                <li class="hover:text-[var(--text)] transition">Guidelines</li>
                <li class="hover:text-[var(--text)] transition">About</li>

                <li (click)="toggleTheme()" class="cursor-pointer hover:scale-110 transition">
                    <i class="fa-regular" [ngClass]="currentTheme === 'dark' ? 'fa-moon' : 'fa-sun'"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid grid-cols-2 p-14">
        <div class="Banner-1 relative overflow-hidden p-16 bg-[var(--surface)]/80">
            <div class="absolute bottom-0 left-0 w-40 h-40 bg-blue-400/5 blur-3xl rounded-full"></div>
            <div class="relative flex flex-col justify-between h-full">
                <div class="flex flex-col gap-6">
                    <p class="text-[var(--primary)] text-[10px]">THE DIGITAL CURATOR</p>
                    <div>
                        <p class="font-medium text-7xl text-[var(--text)]">Where Code</p>
                        <p class="font-medium text-6xl text-[var(--text)]">becomes</p>
                        <p class="italic text-5xl text-[var(--muted)]">literature.</p>
                    </div>
                    <p class="text-[var(--muted)] text-sm line-clamp-3 min-h-5">
                        Join a curated community of developers <br />
                        sharing deep technical insights <br />
                        through beautiful prose.
                    </p>
                </div>
                <div class="pt-12">
                    <div class="flex items-center justify-center bg-[var(--muted)]/10 gap-2 p-6 rounded-2xl">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH87TKQrWcl19xly2VNs0CjBzy8eaKNM-ZpA&s" class="object-contain h-13 rounded-full" alt="Sarah Chen" />
                        <div>
                            <p class="italic text-sm text-[var(--text)] pb-1">"The best place for long-form technical discourse I've found in a decade"</p>
                            <p class="text-xs text-[var(--muted)]">-SARAH CHEN, PRINCIPAL ARCHITECT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Form-1 gap-8 bg-[var(--bg)] px-21 py-16 flex flex-col">
            <div>
                <h1 class="text-2xl font-medium pb-1 text-[var(--text)]">
                    <i *ngIf="formType === 'signup'" class="fa-solid fa-handshake"></i>
                    {{ formType === 'login' ? 'Welcome Back' : 'Welcome' }}
                </h1>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <button class="bg-[var(--surface)] text-[var(--text)] py-3 px-12 rounded-xl text-xs"><i class="fab fa-github text-md"></i> GITHUB</button>
                <button class="bg-[var(--surface)] text-[var(--text)] py-3 px-12 rounded-xl text-xs"><i class="fa-brands fa-google text-md"></i> GOOGLE</button>
            </div>
            <div class="flex items-center justify-between">
                <p class="h-0.5 w-1/3 bg-[var(--muted)]/30"></p>
                <p class="text-xs text-[var(--muted)]">OR CONTINUE WITH EMAIL</p>
                <p class="h-0.5 w-1/3 bg-[var(--muted)]/30"></p>
            </div>
            <app-login (submitForm)="loginSubmit.emit($event)" *ngIf="formType === 'login'"></app-login>

            <app-signup (submitForm)="signupSubmit.emit($event)" *ngIf="formType === 'signup'"></app-signup>
            <p *ngIf="formType === 'login'" class="text-center text-sm">
                <span class="italic text-[var(--muted)]">New here? </span>
                <span class="text-[var(--primary)] cursor-pointer" (click)="switchView('signup')"> Join the Community </span>
            </p>

            <p *ngIf="formType === 'signup'" class="text-center text-sm">
                <span class="italic text-[var(--muted)]">Already Joined? </span>
                <span class="text-[var(--primary)] cursor-pointer" (click)="switchView('login')"> Please, Sign In at Curator </span>
            </p>
        </div>
    </div>

    <app-footer></app-footer>
</div>
