<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex gap-6 flex-col">
    <div>
        <div class="flex items-center justify-between">
            <p class="text-xs pb-1 text-[var(--text)]">EMAIL ADDRESS</p>

            <div class="text-xs text-red-500" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                <small *ngIf="form.get('email')?.errors?.['required']"> * Email is required </small>
                <small *ngIf="form.get('email')?.errors?.['email']"> * Invalid email format </small>
            </div>
        </div>

        <input formControlName="email" type="text" class="px-5 py-4 text-[var(--text)] bg-[var(--surface)] w-full rounded-xl outline-none placeholder:text-[var(--muted)]/60" placeholder="curator@developer.com" />
    </div>

    <div>
        <div class="flex items-center justify-between pb-1">
            <p class="text-xs text-[var(--text)]">PASSWORD</p>
            <p class="text-xs text-[var(--primary)] cursor-pointer">FORGOT?</p>
        </div>

        <input formControlName="password" type="password" class="px-5 py-4 text-[var(--text)] bg-[var(--surface)] w-full rounded-xl outline-none placeholder:text-[var(--muted)]/60" placeholder=" . . . . . . . ." />
    </div>

    <button type="submit" class="bg-[var(--primary)] text-center w-full py-4 rounded-xl text-[var(--bg)] font-medium hover:opacity-90 transition">Sign In to Curator</button>
</form>
