<div class="footer-1 bg-[var(--surface)] text-xs flex items-center justify-between px-12 py-8">
    <p class="text-[var(--muted)]/60">&#xA9; {{ year }} DEVBLOG. THE DIGITAL CURATOR</p>

    <ul class="text-[var(--muted)]/60 gap-4 cursor-pointer sm:flex hidden items-center justify-between">
        <li>
            <a routerLink="/privacy-policy" class="hover:text-[var(--text)] transition"> PRIVACY POLICY </a>
        </li>
        <li>
            <a routerLink="/terms-and-conditions" class="hover:text-[var(--text)] transition"> TERMS AND CONDITIONS </a>
        </li>
        <li>
            <a routerLink="/security" class="hover:text-[var(--text)] transition"> SECURITY </a>
        </li>
        <li class="hover:text-[var(--text)] transition">SYSTEM STATUS</li>
    </ul>
</div>
